body {
    margin: 0px;
    padding: 0px;
    background: white; 
}

body, div {
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/   
    font-family: 'Fira Sans', Arial, sans-serif;   
}

.DataSetDetail {    
	line-height: 1.6;
	
}

.DataSetDetailHeader {
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 5px;
}

.DataSetDetailText {
}


.DataSetDetailLink {
    color: #2196F3; 
    /*color: #ef5350;*/     
}

a.DataSetDetailLink:hover {
    color: #2196F3; 
    /*color: #ef5350;*/     
    text-decoration: underline !important;
}  

a.DataSetDetailLink:visited {
    color: #2196F3; 
    /*color: #ef5350;*/     
    text-decoration: underline !important;
}  

