body {
    margin: 0px;
    padding: 0px;
    background: white; 
}

body, div {
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/   
    font-family: 'Fira Sans', Arial, sans-serif;   
}
